<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWwqhzMEbXWULPVf8cjUns7P8RQdJSrqw</string>
	<key>GCM_SENDER_ID</key>
	<string>908877767175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medConnect.seniorDesign</string>
	<key>PROJECT_ID</key>
	<string>medconnect-app</string>
	<key>STORAGE_BUCKET</key>
	<string>medconnect-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908877767175:ios:b0da9e7d1b6238fa6f80a2</string>
	<key>DATABASE_URL</key>
	<string>https://medconnect-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>